
<div class="message-box">
  <div class="message-pic">
    <%= cl_image_tag message.user.picture, width:50, height: 50, :crop=>"fill" %>
  </div>
  <div class="message <%= 'other' if message.user == message.sender %>">
    <p class="message-author">
      <%= message.user.first_name.capitalize %> said on <%= message.message_time %>
    </p>
    <% message.body.lines.each do |line| %>
      <p><%= line %></p>
    <% end %>
  </div>
</div>
