<div class="container">
  <div class="row">
    <div class="profile-container">
      <div class="profile-img">
        <% if @student.picture.present? %>
        <%=  cl_image_tag @student.picture, width:280, height: 280, :crop=>"fill" %>
        <% end %>
        <div class="contact-details">
          <p>Email: <%= @student.email %></p>
          <p>Phone: <%= @student.phone_number %></p>
        </div>
      </div>
      <div class="profile-contact">
      </div>
      <div class="details">
        <h3><%= @student.first_name %> <%= @student.last_name %> </h3>
        <p>Address: <%= @student.address %></p>
        <div class="icons">
          <ul class = "list-inline">
            <li>
              <i class="far fa-heart"></i>
            </li>
            <li>
              <i class="far fa-smile"></i>
            </li>
            <li>
              <i class="far fa-comment"></i>
            </li>
          </ul>
          <p>Bio: <%= @student.bio %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Reviews Section -->

<div class="container">
  <h2 class="header-comments text-center"> Comments </h2>
    <% @reviews = Review.where(reviewee_id: @student.id) %>
    <% if @reviews.count > 0 %>
    <div class="row card-group">
      <% @reviews.each do |review| %>
        <div class="col-4">
          <div class="elder-card">
            <p class="card-header my-card-header"> <strong>
              <%= review.reviewer.first_name %> said... </strong>
              <i class="fas fa-comments"></i>
            </p>
            <p class="card-body">
              <div class="my-card-body">
              <i class="fas fa-quote-left"></i> <%= review.body %> <i class="fas fa-quote-right"></i>
              </div>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <% else %>
      <p> Share the love and say something great about <%= @student.first_name.capitalize %>! </p>
    <% end %>

<!-- Navigation Buttons -->

  <p><%= link_to 'Write a Comment!', new_student_review_path(@student), class: "btn btn-primary" %></p>

  <p><%= link_to 'View Teachers', teachers_path, class: "btn btn-primary" %></p>

  <p><%= link_to 'Chat', chats_path(sender_id: current_user.id, recipient_id: @student.id), method: :post, class: "btn btn-primary" %></p>
</div>
