
<% other_user = current_user.sender?(chat) ? chat.recipient : chat.sender %>

    <% if chat.messages.any? %>
<div class="chat-wrapper">
    <%= link_to "", chat, class: "chat-link" %>
    <div class="chat-menu-box">
        <div class="chat-menu-pic">

          <%= link_to other_user do %>
            <%= cl_image_tag other_user.picture, width:50, height: 50, :crop=>"fill", class: "image-link" %>
          <% end %>
           </div>
        <div class="chat-menu">
          <p>
            <strong>From:
            <!-- %= link_to other_user do %> -->
              <%= other_user.first_name %>
            <!-- % end %> -->
            </strong>
          </p>
          <p>
            <strong>Last Sent:</strong>
            <%= chat.messages.last.message_time %>
          </p>
          <!-- %= chat.messages.last.body %> -->
        </div>
      </div>
  </div>
    <% end %>


