<div class="container">
  <div class="content">
    <div class="row">
      <div class="col-xl-6 order-1">
        <%= render @chats %>
      </div>
      <div class="col-xl-6 offset-6">
          <%= render @messages %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- <div class="push"> -->
    <div class="message-form">
    <%= form_for [@chat, @message] do |f| %>
      <%= f.text_field :body, placeholder: "Type message", autofocus: true, class: "message-form-input" %>
      <%= f.hidden_field :chat_id, value: @chat.id %>
      <%= f.submit "Send", class: "message-form-submit" %>
    <% end %>
    </div>
  <!-- </div> -->
</div>


