<!-- Shows Both "Chats" & "Messages" -->

<div class="container">
  <div class="row no-gutters">
    <div class="col-sm-6">
      <h2 class="text-center chat-show-header">All Open Chats</h2>
    </div>
    <div class="col-sm-6">
      <h2 class="text-center message-show-header">Active Message</h2>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <%= render @chats %>
    </div>
    <div class="col-sm-6 messages">
      <div class="messages--content">
        <%= render @messages %>
      </div>
    </div>
    <div class="col-sm-6 offset-sm-6">
      <div class="message-send chat--form">
      <%= form_for [@chat, @message] do |f| %>

        <%= f.text_field :body, placeholder: "Type message", autofocus: true, class: "message-form--input" %>
        <%= f.hidden_field :chat_id, value: @chat.id %>
        <%= f.button'<i class="fas fa-share-square"></i>'.html_safe, class: "message-form--submit" %>

       <!--  <= f.submit "", class: "message-form--submit fas fa-share-square" %> -->
      <% end %>

      </div>
    </div>
  </div>
</div>



