<h1>All Teachers</h1>
<div class="teachers">
  <% @teachers.each do |teacher| %>
    <li>
      <strong><%= link_to "#{teacher.first_name} #{teacher.last_name}", teacher_path(teacher.id)%></strong>
      <% teacher.skills.each do |skill| %>
        <p>Skills: <%= skill.subject.name %> - <%= skill.name %></p>
      <% end %>
    </li>
  <% end %>
</div>
<div class="mapbox">
  <h1>MAP</h1>
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
