<div class="container">
  <div class="row">
    <div class="profile-container">
      <div class="profile-contact">
      <div class="profile-img">
        <% if @teacher.picture.present? %>
        <%=  cl_image_tag @teacher.picture, width:280, height: 280, :crop=>"fill" %>
        <% end %>
        <div class="contact-details">
          <p>Email: <%= @teacher.email %></p>
          <p>Phone: <%= @teacher.phone_number %></p>
        </div>
      </div>
      </div>
      <div class="details">
        <h3><%= @teacher.first_name %> <%= @teacher.last_name %> </h3>
        <p>Address: <%= @teacher.address %></p>
        <div class="icons">
          <ul class = "list-inline">
            <li>
              <i class="far fa-heart"></i>
            </li>
            <li>
              <i class="far fa-smile"></i>
            </li>
            <li>
              <i class="far fa-comment"></i>
            </li>
          </ul>
          <div class="skills">
            <ul class = "list-inline">
              <% @teacher.skills.each do |skill| %>
              <li><%= skill.name %></li>
              <% end %>
            </ul>
          </div>
          <p>Bio: <%= @teacher.bio %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-right">
  <ul class="list-inline">
    <li class="list-inline-item">
      <p><%= link_to 'Make an Appointment!', new_teacher_appointment_path(@teacher), class: "elder-button-blue" %></p>
    </li>
    <li class="list-inline-item">
      <p><%= link_to 'Chat', chats_path(sender_id: current_user.id, recipient_id: @teacher.id), method: :post, class: "elder-button-blue" %></p>
    </li>
  </ul>
</div>

<!-- Reviews -->

<div class="container">
    <h2 class="header-comments text-center"> Comments </h2>
    <% @reviews = Review.where(reviewee_id: @teacher.id) %>
    <% if @reviews.count > 0 %>
    <div class="row card-group">
        <% @reviews.each do |review| %>
        <div class="col-4">
          <div class="elder-card">
            <p class="card-header my-card-header"> <strong>
            <%= review.reviewer.first_name %> said... </strong>
            <i class="fas fa-comments"></i>
            </p>
            <p class="card-body">
              <div class="my-card-body">
                <i class="fas fa-quote-left"></i> <%= review.body %> <i class="fas fa-quote-right"></i>
              </div>
            </p>
          </div>
        </div>
        <% end %>
      </div>
      <% else %>
        <p> Share the love and say something great about <%= @teacher.first_name.capitalize %>!</p>
      <% end %>
      <p><%= link_to 'Write a Comment!', new_teacher_review_path(@teacher), class: "btn btn-primary text-right" %></p>
    </div>
</div>

<!-- Navigation Buttons -->

<div class="container">
  <p><%= link_to 'Back', teachers_path, class: "btn btn-danger" %></p>

</div>
