<div class="container">
  <div class="row">
    <div class="profile-container">
      <div class="profile-contact">
        <div class="profile-img">
          <% if @teacher.picture.present? %>
          <%=  cl_image_tag @teacher.picture, width:280, height: 280, :crop=>"fill" %>
          <% end %>
        </div>
        <div class="contact-details">
          <!-- <p>Email: %= @teacher.email %></p> -->
          <!-- <p>Phone: %= @teacher.phone_number %></p> -->
        </div>
      </div>
      <div class="details">
        <h3><%= @teacher.first_name %> <%= @teacher.last_name %> </h3>
        <p>Address: <%= @teacher.address %></p>
        <div class="icons">
          <ul class = "list-inline">
            <li>
              <div class="show-icons" data-toggle="tooltip" data-placement="top" title="Number of Likes">
                <i class="far fa-heart"></i>
              </div>
            </li>
            <li>
              <div class="show-icons" data-toggle="tooltip" data-placement="top" title="Number of Appointments Booked">
                <i class="far fa-smile"></i>
                <%= Appointment.where(organizer_id: @teacher.id).or(Appointment.where(guest_id: @teacher.id)).count %>
              </div>
            </li>
            <li>
                <div class="show-icons" data-toggle="tooltip" data-placement="top" title="Number of Comments Received">
                  <i class="far fa-comment"></i>
                  <%= Review.where(reviewee_id: @teacher.id).count %>
                </div>
            </li>
          </ul>
          <div class="skills">
            <ul class = "list-inline">
              <% @teacher.skills.each do |skill| %>
              <li><%= skill.subject.name %>: <%= skill.name %></li>
              <% end %>
            </ul>
          </div>
          <p>Bio: <%= @teacher.bio %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container text-right">
  <ul class="list-inline">
    <li class="list-inline-item">
      <!-- Button trigger modal -->
<button type="button" class="elder-button-blue" data-toggle="modal" data-target="#exampleModal">
Make an Appointment!
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="Make an Appointment">
            <%= simple_form_for [@teacher, @appointment] do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <div class="form-inputs">
              <%= f.input :start_time, as: :string, required: false, label: "Dates", placeholder: "From", input_html: { class: "datepicker" }%>
              <%= f.input :end_time, as: :string, required: false, label: '&nbsp;'.html_safe, placeholder: "To", input_html: { class: "datepicker" }%>
            </div>
            <div class="form-actions">
              <%= f.button :submit, class: "elder-button-blue" %>
            </div>
            <% end %>
            <br>
            <%= link_to 'Back', teacher_path(@teacher), class: "elder-button-red" %>
        </div>
      </div>
    </div>
  </div>
</div>

    </li>
    <li class="list-inline-item">
      <p><%= link_to 'Chat', chats_path(sender_id: current_user.id, recipient_id: @teacher.id), method: :post, class: "elder-button-blue" %></p>
    </li>
  </ul>
</div>
<!-- Reviews -->

<div class="container">
  <h2 class="header-comments text-center"> Comments </h2>
  <% @reviews = Review.where(reviewee_id: @teacher.id) %>
  <% if @reviews.count > 0 %>

    <div class="row card-group">
      <% @reviews.each do |review| %>
      <div class="col-4">
        <div class="elder-card">
          <p class="card-header my-card-header">
          <% if review.reviewer.type == "Student" %>
            <strong>
            <%= link_to "#{review.reviewer.first_name} said...", student_path(review.reviewer_id) %>
            </strong>
          <% elsif review.reviewer.type == "Teacher" %>
            <strong>
            <%= link_to "#{review.reviewer.first_name} said...", teacher_path(review.reviewer_id) %>
            </strong>
          <% end %>
          <i class="fas fa-comments"></i>
          </p>
          <p class="card-body">
            <div class="my-card-body">
              <i class="fas fa-quote-left"></i> <%= review.body %> <i class="fas fa-quote-right"></i>
            </div>
          </p>
        </div>
      </div>
      <% end %>
    </div>
  <% else %>
    <p> Share the love and say something great about <%= @teacher.first_name.capitalize %>!
    </p>
  <% end %>
  <br>
  <%= link_to 'Write a Comment!', new_teacher_review_path(@teacher), class: "elder-button-blue" %>
</div>


<!-- Navigation Buttons -->
<div class="container">
<br>
  <p>
    <%= link_to 'Back', teachers_path, class: "elder-button-red" %>
  </p>
</div>


