<h1>Teacher: <%= @teacher.first_name %> <%= @teacher.last_name %> </h1>

<p>Address: <%= @teacher.address %></p>
<p>Bio: <%= @teacher.bio %></p>
<p>Email: <%= @teacher.email %></p>
<p>Phone: <%= @teacher.phone_number %></p>

<p><%= link_to 'Back', teachers_path %></p>
<p>---</p>
<p><%= link_to 'Write a review!', new_teacher_review_path(@teacher) %></p>


