<div class="container">
  <h1>My Appointments</h1>
  <h3 class="name-calendar"><%= current_user.type %> <%= current_user.first_name %></h3>


<div class="container">
  <p><%= link_to 'All Teachers', teachers_path, class: "elder-button-blue" %></p>
</div>
<br>
<br>

 <% @appointments.each do |appt| %>
        <% if appt.status == 'pending' && current_user.type == 'Teacher' %>
          <span>
          <strong><%= link_to "#{appt.student.first_name} #{appt.student.last_name}", student_path(appt.student_id) %></strong>

          <%= link_to 'Accept', appointment_path(appt, :response => 'Accept'), method: :patch, class: "elder-button-mint" %>
          <%= link_to 'Decline', appointment_path(appt, :response => 'Decline'), method: :patch, class: "elder-button-red" %>
          </span>
        <% elsif appt.status =='pending' %>
          <p>You have sent a appointment request to
          <strong><%= link_to "#{appt.teacher.first_name} #{appt.teacher.last_name}", teacher_path(appt.teacher_id)%></strong>.
           Date: <%= appt.start_time.to_formatted_s(:short) %></p>
        <% end %>
        <br>
    <% end %>



      <%= month_calendar events: @accepted_appt do |date, appointments| %>
      <%= date.day %>
        <% appointments.each do |appointment| %>
          <% if current_user.type == 'Teacher' %>
            <div>
              <p><%= link_to "#{appointment.student.first_name} #{appointment.student.last_name}", student_path(appointment.student_id) %></p>
              <%#= appointment.start_time.to_formatted_s(:time) %>
            </div>
          <% else %>
            <p><%= link_to "#{appointment.teacher.first_name} #{appointment.teacher.last_name}", teacher_path(appointment.teacher_id) %></p>
          <% end %>
        <% end %>
      <% end %>
    </div>
