<div class="container">
  <h1>My Appointments</h1>
  <h3 class="name-calendar"><%= current_user.type %> <%= current_user.first_name %></h3>
<br>

 <% @pending_appt.each do |appt| %>
        <% if appt.guest == current_user %>
          <span>
          <strong><%= link_to "#{appt.guest.first_name} #{appt.guest.last_name}", user_url(appt.guest) %></strong>
            <%= render 'appointments/request', appointment: appt %>
           </span>
        <% elsif appt.organizer == current_user %>
          <p>You have sent a appointment request to
          <strong><%= link_to "#{appt.guest.first_name} #{appt.guest.last_name}", user_url(appt.guest)%></strong>.
           Date: <%= appt.start_time.to_formatted_s(:short) %></p>
        <% end %>
        <br>
    <% end %>



      <%= month_calendar events: @not_pending_appt do |date, appointments| %>
      <%= date.day %>
        <% appointments.each do |appointment| %>
          <% if current_user.id != appointment.organizer_id %>
            <div>
              <div class="student-hours" data-toggle="tooltip" data-placement="top" title = <%= "#{appointment.start_time.to_s(:time)}"%> >
              <p><%= link_to "#{appointment.organizer.first_name} #{appointment.organizer.last_name} #{appointment.status}", user_url(appointment.organizer) %></p>
            </div>
          <% else %>
            <div class="teacher-hours" data-toggle="tooltip" data-placement="top" title = <%= "#{appointment.start_time.to_s(:time)}"%> >
            <p><%= link_to "#{appointment.guest.first_name} #{appointment.guest.last_name} #{appointment.status}", user_url(appointment.guest) %></p>
          <% end %>
        <% end %>
      <% end %>
    </div>



