<div class="container">
  <h1>My Appointments</h1>
  <h3 class="name-calendar"><%= current_user.type %> <%= current_user.first_name %></h3>
  <%= month_calendar events: @appointments do |date, appointments| %>
  <%= date.day %>
  <% appointments.each do |appointment| %>
  <div>
    <p><%= appointment.student.first_name %></p>
    <%#= appointment.start_time.to_formatted_s(:time) %>
  </div>
  <% end %>
  <% end %>
</div>
<div class="container">
  <p><%= link_to 'All Teachers', teachers_path, class: "btn btn-primary" %></p>
</div>
