<div class="container">
  <h1>Give <%= @user.first_name %> some love!</h1>

  <%= simple_form_for [@user, @review] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :body, label: 'Write a Comment Below' %>
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
  <% end %>
</div>
