<div class="container text-center">
  <h1 class="form-heading">Tell us more...</h1>
  <ul>
  <%= form_for @user, url: wizard_path, method: :put do |f| %>
    <%= f.fields_for :skills, @skills do |s| %>
      <div>
        <%= label :name, s.object.subject.name  %>
        <%= s.text_field  :name %>
        <%= s.hidden_field :subject_id %>
      </div>
    <% end %>
  <div class="row align-items-center">
    <div class="col-xl-6 offset-xl-3">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
  </ul>
</div>
