<div class="container text-center">
  <h1 class="form-heading">Tell us a little about you!</h1>
  <%= form_for @user, url: wizard_path, method: :put do |f| %>
  <div class="row align-items-center">
    <div class="col-xl-6 offset-xl-3">
      <%= f.text_field :bio %>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-xl-6 offset-xl-3">
     <%= f.submit "Submit", class: "elder-button-blue" %>
    </div>
  </div>
  <% end %>
</div>

<!-- status bar -->

<div class="container">
  <% if current_user.type == "Teacher" %>
    <div class="wizard-progress">
      <div class="step complete">
        First Name
        <div> <%= link_to '', after_signup_path(:id => 'confirm_first_name'), class: "node" %> </div>
      </div>
      <div class="step complete">
        Last Name
        <div> <%= link_to '', after_signup_path(:id => 'confirm_last_name'), class: "node" %> </div>
      </div>
      <div class="step complete">
        Phone
        <div> <%= link_to '', after_signup_path(:id => 'confirm_phone_number'), class: "node" %> </div>
      </div>
      <div class="step complete">
        Address
        <div> <%= link_to '', after_signup_path(:id => 'confirm_address'), class: "node" %> </div>
      </div>
      <div class="step in-progress">
        Bio
        <div> <%= link_to '', after_signup_path(:id => 'confirm_bio'), class: "node" %> </div>
      </div>
      <div class="step">
        Picture
        <div class="node"></div>
      </div>
      <div class="step">
        Subject
        <div class="node"></div>
      </div>
      <div class="step">
        Details
        <div class="node"></div>
      </div>
      <div class="step">
        Home
        <div> <%= link_to '', root_path, class: "node" %> </div>
      </div>
    </div>
  <% else %>
    <div class="wizard-progress">
      <div class="step complete">
        First Name
        <div> <%= link_to '', after_signup_path(:id => 'confirm_first_name'), class: "node" %> </div>
      </div>
      <div class="step complete">
        Last Name
        <div> <%= link_to '', after_signup_path(:id => 'confirm_last_name'), class: "node" %> </div>
      </div>
      <div class="step complete">
        Phone
        <div> <%= link_to '', after_signup_path(:id => 'confirm_phone_number'), class: "node" %> </div>
      </div>
      <div class="step complete">
        Address
        <div> <%= link_to '', after_signup_path(:id => 'confirm_address'), class: "node" %> </div>
      </div>
      <div class="step in-progress">
        Bio
        <div> <%= link_to '', after_signup_path(:id => 'confirm_bio'), class: "node" %> </div>
      </div>
      <div class="step">
        Picture
        <div class="node"></div>
      </div>
      <div class="step">
        Home
        <div> <%= link_to '', root_path, class: "node" %> </div>
      </div>
    </div>
  <% end %>
</div>
