<div class="container text-center">
  <h1 class="form-heading">Tell us more...</h1>
  <ul>
  <%= form_for @user, url: wizard_path, method: :put do |f| %>
    <%= f.fields_for :skills, @skills do |s| %>
      <div>
        <%= label :name, s.object.subject.name  %>
        <%= s.text_field  :name %>
        <%= s.hidden_field :subject_id %>
      </div>
    <% end %>
  <div class="row align-items-center">
    <div class="col-xl-6 offset-xl-3">
      <%= f.submit "Submit", class: "elder-button-blue" %>
    </div>
  </div>
  <% end %>
  </ul>
</div>

<!-- status bar -->

  <div class="container skill-status">
  <div class="wizard-progress">
    <div class="step complete">
      First Name
      <div> <%= link_to '', after_signup_path(:id => 'confirm_first_name'), class: "node" %> </div>
    </div>
    <div class="step complete">
      Last Name
      <div> <%= link_to '', after_signup_path(:id => 'confirm_last_name'), class: "node" %> </div>
    </div>
    <div class="step complete">
      Phone
      <div> <%= link_to '', after_signup_path(:id => 'confirm_phone_number'), class: "node" %> </div>
    </div>
    <div class="step complete">
      Address
      <div> <%= link_to '', after_signup_path(:id => 'confirm_address'), class: "node" %> </div>
    </div>
    <div class="step complete">
      Bio
      <div> <%= link_to '', after_signup_path(:id => 'confirm_bio'), class: "node" %> </div>
    </div>
    <div class="step complete">
      Picture
      <div> <%= link_to '', after_signup_path(:id => 'confirm_picture'), class: "node" %> </div>
    </div>
    <div class="step complete">
      Subject
      <div> <%= link_to '', after_signup_path(:id => 'confirm_subject'), class: "node" %> </div>
    </div>
    <div class="step in-progress">
      Details
      <div> <%= link_to '', after_signup_path(:id => 'confirm_skill'), class: "node" %> </div>
    </div>
    <div class="step">
      Home
      <div> <%= link_to '', root_path, class: "node" %> </div>
    </div>
  </div>
</div>
